<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Modal</title>
  </head>
  <body>
    <section class="modal hidden">
      <button class="close-btn">X</button>
      <h1>Add modal title</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima minus
        numquam iusto soluta cupiditate aut dolorum illo laudantium magnam vel
        sed omnis sint alias quidem cumque, iste nihil culpa dolore! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Nisi quasi velit quidem
        minus, magnam placeat quod accusantium pariatur delectus fuga. Vitae!
      </p>

      <button class="btn btn-do-something">Do something</button>
    </section>

    <div class="overlay hidden"></div>

    <button class="btn btn-open">Open Modal</button>

    <script src="script.js"></script>
  </body>
</html>
